#contact-header{
    margin-top: 0;
}
#Hpicture{
    margin-top: 160px;
    border-radius:50% ;
    overflow: hidden;
 border-style: groove;
 border-width: thick;
 border-color: gray;
 padding: 10px;
 float: left;
}
header-text{
    margin-top: 160px;
}
#bgimg{
    background-image: url("images/fall-g93027d2b4_1920-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}
#h2ftw{
    color: whitesmoke;
    -webkit-text-stroke-width: 1px; /* 1px Stroke */
  -webkit-text-stroke-color:#01060c;
}
/* nav */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    background: pink;
    position: fixed;
    top: -100%;
    /*   left: -100%; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    font-family: sans-serif;
    transition: all 0.3s linear;
  }
  .navbar-links.active {
    top: 0;
    left: 0;
  }
  .navbar-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    padding: 20px;
  }
  .landing {
    height: 100vh;
    background: yellow;
  }/* nav ended   */
#abouttext{
  margin-left: 11%;
}
/* skills */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 85%; background-color: #2196F3;} /* Blue */
.js {width: 50%; background-color: #f44336;} /* Red */
.php {width: 80%; background-color: #808080;} /* Dark Grey */
/* timeline */




/* skills */
#skills{
  margin-top: 0%;
}
/* cards */
    /* #card .container{
        padding: 40px 0;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
      }
      .grid > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      }
      .grid > article img {
        max-width: 100%;
        max-height:; */
      /* }
      .grid .text {
        padding: 20px;
      }
      .container {
    padding: 40px 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  .grid > article img {
    max-width: 100%;
  }
  .grid .text {
    padding: 20px;
  } */

  /* carosol */
  #demo{
    padding-right:5%;
    padding-left: 5%;
  }
  /* new carosal */
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}