#contact-header {
  margin-top: 0;
}
#Hpicture {
  overflow: hidden;
  border-style: groove;
  border-width: thick;
  border-color: darkseagreen;
  padding: 10px;
  float: left;
}
header-text {
  margin-top: 160px;
}
#bgimg {
  background-image: url("images/fall-g93027d2b4_1920-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#h2ftw {
  color: whitesmoke;
  -webkit-text-stroke-width: 1px; /* 1px Stroke */
  -webkit-text-stroke-color: #01060c;
}
/* nav */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: pink;
  position: fixed;
  top: -100%;
  /*   left: -100%; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}
.navbar-links.active {
  top: 0;
  left: 0;
}
.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
}
.landing {
  height: 100vh;
  background: yellow;
} /* nav ended   */
#abouttext {
  margin-left: 11%;
}
/* skills */
/* timeline */

/* carosol */
#demo {
  padding-right: 10%;
  padding-left: 10%;
}
/* new carosal */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: #8ec1da;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* height:380px; */
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #8ec1da 40%, white 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
/* animation */
@keyframes movement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 560px 0px;
  }
}
adiv {
  display: block;
  position: absolute;
  font-size: 2rem;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 2rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.centered {
  position: absolute;
  top: 35%;
  left: 38%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 2rem;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 2rem;
}
/* skills */
.skills {
  position: relative;
  top: 50%;
  left: 50%;
  width: fit-content;
  margin-right: 15%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.skills-bar {
  padding: 25px 30px;
}
.skills-bar .bar {
  margin: 25px 0;
}
.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}
.skills-bar .bar .info {
  margin-bottom: 8px;

  color: #07374a;
}
.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line span {
  position: absolute;
  background: darkseagreen;
  height: 100%;
  left: 2;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 62%;
}
.progress-line .c {
  width: 90%;
}
.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}
.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}
.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "62%";
}
.progress-line .c::after {
  content: "90%";
}
/* ////........Media Query........//// */
@media (max-width: 700px) {
  .skills {
    width: 80%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }
}
/* text */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #cecbd6;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #cecbd6;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;
  float: initial;
  height: 100%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300%;
  font-size: 200%;
  text-transform: uppercase;
}
