#contact-header{
    margin-top: 50px;
}
#Hpicture{
    margin-top: 160px;
    border-radius:50%
}
#header-text{
    margin-top: 160px;
}
#bgimg{
    background-image: url("images/nature-gfedb81a7d_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}
#h2ftw{
    color: whitesmoke;
    -webkit-text-stroke-width: 1px; /* 1px Stroke */
  -webkit-text-stroke-color:#01060c;
}


/* nav */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    background: pink;
    position: fixed;
    top: -100%;
    /*   left: -100%; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    font-family: sans-serif;
    transition: all 0.3s linear;
  }
  
  .navbar-links.active {
    top: 0;
    left: 0;
  }
  
  .navbar-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    padding: 20px;
  }
  
  .landing {
    height: 100vh;
    background: yellow;
  }
/* nav ended   */
/* cards */

  /* cards ended */