#contact-header{
    margin-top: 50px;
}
#Hpicture{
    margin-top: 160px;
    border-radius:200%
}
#header-text{
    margin-top: 160px;
}
#bgimg{
    background-image: url("images/colour-g1b4adf230_1920.jpg");
}