#contact-header{
    margin-top: 50px;
}
#Hpicture{
    margin-top: 160px;
    border-radius:50% ;
    overflow: hidden;
 border-style: groove;
 border-width: thick;
 border-color: gray;
 padding: 10px;
 float: left;
}
header-text{
    margin-top: 160px;
}
#bgimg{
    background-image: url("images/fall-g93027d2b4_1920-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}
#h2ftw{
    color: whitesmoke;
    -webkit-text-stroke-width: 1px; /* 1px Stroke */
  -webkit-text-stroke-color:#01060c;
}
/* nav */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    background: pink;
    position: fixed;
    top: -100%;
    /*   left: -100%; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    font-family: sans-serif;
    transition: all 0.3s linear;
  }
  .navbar-links.active {
    top: 0;
    left: 0;
  }
  .navbar-button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    padding: 20px;
  }
  .landing {
    height: 100vh;
    background: yellow;
  }/* nav ended   */
#abouttext{
  margin-left: 11%;
}
/* skills */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 85%; background-color: #2196F3;} /* Blue */
.js {width: 50%; background-color: #f44336;} /* Red */
.php {width: 80%; background-color: #808080;} /* Dark Grey */
/* timeline */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background:#9dcdfe;
}
::selection{
  color: #fff;
  background: #ff7979;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background:black;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background:black;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: black;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: black;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px black, inset 0 2px black, 0 3px 0 4px bisque;
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  
  text-decoration: none;
  background: #ff7979;
  color:black;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}
/* skills */
#skills{
  margin-top: 0%;
}
/* cards */

